#index-sign-in {
  background-color: white;
  border: solid 1px #5ea0c1;
  padding: 6px;
}

#index-sign-in-box {
  width: 170px;
  background-color: white;
  border: solid 1px #5ea0c1;
  padding: 8px;
  position: absolute;
/*  display: none; prototype limitation */
}


